.container-fluid {
  padding: 0;
}

.row {
  margin: 0;
}

p {
  margin: 0;
}

/* Header */
.header-section {
  margin-top: 58px;
}

.header-section .navbar {
  background-color: #ffffff !important;
  padding: 1rem calc((100 / 1440) * 100%) 0;
}

.header-section .navbar .navbar-brand {
  display: flex;
  align-items: center;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header-section .navbar .navbar-brand i {
  color: #07a081;
}

#navbar-header .navbar-nav {
  margin: auto;
}

#navbar-header .navbar-nav .nav-link {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
}

#navbar-header .navbar-nav .nav-item:first-child .nav-link {
  color: #07a081;
}

#navbar-header form {
  position: relative;
}

#navbar-header form input {
  width: 261px;
  height: 30px;
  border-radius: 27px;
  border: 0.5px solid #404146;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

#navbar-header form i {
  position: absolute;
  right: 1.25rem;
  color: #5c5c5c;
}

#navbar-header .cart-icon {
  margin: 0px 1.25rem;
}

#navbar-header .cart-icon i {
  color: #5c5c5c;
  position: relative;
}

#navbar-header .cart-icon i span {
  background: #ff3c3c;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  position: absolute;
  top: -1rem;
  right: -0.5rem;
}

#navbar-header .user-icon {
  margin: 0px 1.25rem;
}

#navbar-header .user-icon i {
  color: #5c5c5c;
  position: relative;
}

.divider {
  border: 0.5px solid #404146;
}

.header-section .divider {
  margin: 0px calc((200 / 1440) * 100%);
}

/* About */
.about-section > div {
  height: 600px;
}

.about-left {
  position: relative;
  padding-left: calc((100 / 1440) * 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about-left p:first-of-type {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 61px;
  letter-spacing: 0.01em;
  text-align: left;
}

.about-left p:nth-of-type(2) {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.about-left button {
  width: 198px;
  height: 47px;
  border-radius: 13px;
  background: #07a081;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.social-media {
  display: flex;
  gap: 1.25rem;
}

.about-praw-left {
  position: absolute;
  left: 0;
  z-index: 0;
  top: 30%;
}

.about-left > :not(.about-praw-left) {
  position: relative;
  z-index: 1;
}

.about-center {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-center > * {
  position: absolute;
}

.about-center-text {
  bottom: 15%;
}

.about-center-star1 {
  top: 15%;
}

.about-center-star2 {
  top: 20%;
  left: 60%;
}

.about-center-star3 {
  top: 30%;
  left: 50%;
}

.about-right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-right > * {
  position: absolute;
}

.about-praw-right {
  z-index: 0;
  right: 0;
  top: 30%;
}

.about-right-dog {
  z-index: 1;
}

.about-right-card {
  width: 187px;
  padding: 12px 24px;
  border-radius: 16px;
  gap: 16px;
  background: #ffffffcc;
  z-index: 2;
  bottom: 20%;
  left: 40%;
}

.about-right-card p:first-of-type {
  font-family: Times New Roman;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
}

.about-right-card p:nth-of-type(2) {
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
}

/* Packages */
.packages-section p:first-child {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin-bottom: 1rem;
}

.packages-section p:nth-child(2) {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
  margin-bottom: 2rem;
}

.packages-section {
  padding: 0 calc((100 / 1440) * 100%);
  margin-bottom: 5rem;
}

.packages-section ul {
  justify-content: space-between;
}

.packages-section ul .list-group-item {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    93.45deg,
    rgba(7, 160, 129, 0.4) 7.83%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 5rem !important;
}

.packages-section ul .list-group-item p {
  margin: 0;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #3e3e3e;
}

/* Menu */
.menu-section > p:first-of-type {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin-bottom: 1rem;
}

.menu-section > p:nth-of-type(2) {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
  margin-bottom: 2rem;
}

.pet-card {
  height: 400px;
  border: none;
}

.pet-card-top {
  position: relative;
}

.card-img-top {
  width: 293px;
  height: 293px;
  border-radius: 11px;
  background-color: #d9d9d9;
}

.card-discount {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 56px;
  height: 56px;
  background: #ff3c3c;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-body p {
  font-family: Lato;
  letter-spacing: 0em;
  text-align: left;
  color: #404146;
}

.card-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.card-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-promotionPrice {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  margin-right: 10px;
}

.card-price {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-decoration: line-through;
}

/* Contact */
.contact-section {
  padding: 0 calc((100 / 1440) * 100%);
}

.contact-left {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
}

.contact-left > * {
  position: absolute;
}

.contact-dog {
  z-index: 1;
  bottom: 0;
}

.contact-dog .contact-rectangle {
  position: absolute;
  z-index: -1;
  left: -10px;
  bottom: 10px;
}

.contact-cat {
  z-index: 2;
  left: 25%;
}

.contact-pucci {
  z-index: 0;
  bottom: 30px;
  left: 50%;
}

.contact-mart {
  z-index: 0;
  bottom: 0;
  left: 90%;
}

.contact-right {
  position: relative;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}

.contact-right form label {
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
  margin-bottom: 2rem;
}

.contact-right form input {
  width: 261px;
  height: 30px;
  border: 0.5px solid #404146;
  font-family: Lato;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #5c5c5c;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.contact-right form button {
  background-color: #07a081;
  width: 43px;
  height: 30px;
  padding: 0;
  color: #ffffff;
  border-radius: 0;
}

.contact-right p {
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
}

.contact-right p a {
  color: #252525;
}

.contact-right .social-media {
  position: absolute;
  bottom: 40px;
  left: 50%;
}

/* Shop */
.shop-header {
  background: #07a081;
  position: relative;
  height: 202px;
}

.shop-praw {
  position: absolute;
  top: -33px;
  left: 10%;
  z-index: 0;
}

.shop-star {
  position: absolute;
  top: -33px;
  left: -20%;
  z-index: 0;
}

.shop-header-right img:nth-child(2) {
  position: absolute;
  top: 115px;
  left: -10%;
}

.shop-header-right img:nth-child(3) {
  position: absolute;
  top: 77.8px;
  left: 15%;
}

.shop-header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.shop-header-center p {
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.shop-header-center button {
  width: 164.3px;
  height: 39px;
  border-radius: 13px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  color: #545454;
  background: #ffffff;
  box-shadow: 0px 10px 40px -12px #07a08159;
  border: none;
}

.shop-content {
  position: relative;
  padding: 3rem calc((144 / 1440) * 100%);
  height: 600px;
}

.shop-content > * {
  position: absolute;
}

.shop-content .rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  top: 50%;
}

.shop-content .rating .fa-star {
  color: #ffc933;
}

.shop-content .rating span {
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

.shop-content .new-price {
  font-family: Times New Roman;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff3c3c;
  top: 55%;
}

.shop-content .old-price {
  font-family: Times New Roman;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
  text-decoration-line: line-through;
  top: 60%;
  left: calc(((144 + 108) / 1440) * 100%);
}

.shop-content .badge {
  background-color: #ff3c3c;
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  padding: 2rem;
  top: 20%;
  left: 60%;
  z-index: 2;
}

.shop-content button {
  background: #07a081;
  box-shadow: 0px 10px 40px -12px #07a08159;
  width: 164.3px;
  height: 39px;
  left: calc((955 / 1440) * 100%);
  border-radius: 13px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  border: none;
  text-align: center;
  top: 80%;
  left: 70%;
}

.shop-dog {
  left: 40%;
  z-index: 1;
}

.shop-pucci {
  top: 20%;
}

.shop-mart {
  top: 35%;
  left: 55%;
}

.shop-title {
  font-family: Lato;
  font-size: 32px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #252525;
}

.shop-section .divider {
  margin: 3rem calc((144 / 1440) * 100%);
}

.shop-footer {
  padding: 0 calc((200 / 1440) * 100%);
}

.shop-footer > div {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.shop-footer > div p {
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

/* Footer */
.footer-section {
  background: #f6f6f6;
  padding: calc((50 / 1440) * 100%) calc((100 / 1440) * 100%)
    calc((30 / 1440) * 100%);
}

.footer-top ul .list-group-item {
  border: none;
  background-color: initial;
  font-family: Nunito;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #545454;
}

.footer-top ul .list-group-item a {
  color: #545454;
}

.footer-top ul .list-group-item:first-child {
  font-weight: 700;
}

.footer-section .divider {
  margin: 1rem calc((-100 / 1440) * 100%);
}

.footer-bot {
  padding: 0 calc((35 / 1440) * 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-bot {
    flex-direction: column;
  }

  .footer-bot p:first-of-type {
    order: 1;
  }

  .footer-bot p:last-of-type {
    order: 0;
  }
}
